{% extends 'basew.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
{% block extra %} {% endblock extra %}



{% block title %} Registration {% endblock title %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container md-5">
        <h1 class="text-center text-primary mb-4">Registration</h1>
        <div class="col-md-4 offset-4">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success" style="width:14rem; height:auto; margin-bottom: 10px">Register</button>
                <a href="{% url 'delete' %}"><button type="submit" class="btn btn-danger" style="width:14rem; height:auto">DELETE USER</button></a>
                <div class=" signin text-center">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
